/*
body {
    font-family: 'Raleway', sans-serif;
    background-color: #989898;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

input {
    display: grid;
}

button {
    display: grid;
    background-color: rgb(0, 132, 255);
    color: blue;
    cursor: pointer;
}

.container {
    display: grid;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0)
}
#response {
    font-family: 'Raleway';
    white-space: pre-line;
}
    